# Terraform state files
*.tfstate
*.tfstate.*

# Backup files
.terraform/
.terraform.lock.hcl

# Cloud provider-specific files
.aws/
.azure/
.gcloud/

# OS-specific files

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._* (Resource fork)
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
